nav{
    min-height: 20vh;
    background-color: transparent;
}
    nav>ul{
        width: 60%;
        margin:  0 auto;
        min-height: 20vh; 
    }
        nav>ul>li{
            list-style: none;
            float: left;
            padding: 10px 20px;
        }

.active{
    color: tomato;
}