$navColor:#fff;
$navBgColor:#611450;

.contentBox{
    color: $navColor;
    background-color: $navBgColor;
    $width: 100%;
    width: $width;
    height: auto;
    margin: 20px auto;
    border: 1px solid #555555;
  .title{
    color: #dfb744;

  }
  .color{
    color: aqua;
  }
}

