$navColor:#fff;
$navBgColor:#611450;

.contentBox{
    color: $navColor;
    background-color: $navBgColor;
    $width: 100%;
    width: $width;
    height: auto;
    margin: 20px auto;
    border: 1px solid #555555;
  .title{
    color: #dfb744;

  }
  .color{
    color: aqua;
  }
}
//观察者模式
//可观察对象  调用 观察者
//观察者 注册 可观察对象

.case {
    position: absolute;
    width: 800px;
    height: 30px;
    overflow: hidden;
    left: calc(50% - 400px);
    top: 150px;
}
.case .part1 {
    float: left;
    width: 5%;
    height: 30px;
}
.case .part1 img {
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 5px;
}
.case .part2 {
    float: left;
    width: 93%;
    height: 30px;
    text-indent: 1em;
    overflow: hidden;
}
#part2 ul {
    width: 100%;
    height: auto;
    list-style: none;
    padding: 0;
    margin: 0;
}
#part2 ul li {
    width: 100%;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    color: #575757;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.dom{
    border: 1px solid goldenrod;
    
}
