<p>
  params-detail works!{{paramsFromFather}}
</p>
<div #divDom (click) = 'getDom(divDom)' class="dom">这是获取dom的方法之一(获取原生的dom)</div>
<p #greet>viewChild属性装饰器，使用模板变量名进行</p>
<div style='position:relative'>
    <div class="case">
        <div class="part1">
            <img src="../img/notice.png">//一个喇叭的图片
        </div>
        <div class="part2" id="part2">
            <div id="scroll1">
                <ul>
                    <li>不要被别人表现出来的毫不费力所迷惑，你要知道，那些信手拈来的东西，一定有拼尽全力作为支撑。</li>
                    <li>这个世界上，天才好像真的没有那么多。</li>
                    <li>而我希望，自己也可以在别人看不见的地方不动声色的努力，在关键时刻出其不意的傲娇绽放。</li>
                    <li>这个年纪我不在将就。</li>
                </ul>
            </div>
            <div id="scroll2"></div>
        </div>
    </div>
</div>
